<footer class="main-footer">
  <div class="text-center">
  <strong>Copyright &copy; 2023 <a href="https://daffa03x.github.io/">Daffa Store</a></strong>
  All rights reserved.
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->